 
BODY {background-image: url('../images/world-map-large.gif'); 
    background-color: #C6D8EF; /* #9AAEC3; */ 
    margin-top: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px; 
    margin-right: 0px; 
    font-size: 8pt; 
    font-family: verdana,sans-serif; 
}

A:hover { 
    color: #00CC00;
}

TABLE.bannerTable {
  /*background-color: #FFFFFF; */
}

SPAN.spanLink {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
SPAN.spanLink:hover { 
    color: #00CC00;
}

H1 { 
    font-family: Arial; 
    font-size: 16pt; 
    white-space: pre;
}

H2 { 
    font-family: Arial; 
    font-size: 14pt; 
    white-space: pre; 
}

H3 { 
    font-family: Arial; 
    font-size: 12pt; 
    white-space: pre; 
}

H4 { 
    font-family: Arial; 
    font-size: 10pt; 
    white-space: pre; 
}

FORM {
    margin-top: 0px; 
    margin-bottom: 0px; 
}

HR {
    margin-top: 2px; 
    margin-bottom: 2px; 
}
HR.noMargin {
    margin-top: 0px; 
    margin-bottom: 0px; 
}

TD { 
    font-size: 8pt; 
    font-family: verdana,sans-serif; 
}

INPUT { 
    font-size: 8pt; 
    font-family: verdana,sans-serif; 
}

INPUT:focus { 
    background-color: #FFFFC9; 
}

SELECT { 
    font-size: 7pt; 
    font-family: verdana,sans-serif; 
}

SELECT:focus { 
    background-color: #FFFFC9; 
}

TEXTAREA { 
    font-size: 8pt; 
    font-family: verdana,sans-serif; 
}

TEXTAREA:focus {
    background-color: #FFFFC9; 
}
